<ion-header>
  <ion-toolbar color="primary">
    <h2 text-center ion-text color="light">ng-ionic-animate</h2>
  </ion-toolbar>
</ion-header>

<ion-content padding no-header>
  <h3 padding text-center>
    Angular animations within the Ionic framework.
  </h3>

  <!-- Text to Animate -->
  <h1 text-center ion-text color="secondary" [@animationType]="animationType | async">
    {{animation}}
  </h1>
  
  <!-- Bounce -->
  <pre *ngIf="animation === 'bounceIn'" [innerHtml]="bounceIn"></pre>
  <pre *ngIf="animation === 'bounceInUp'" [innerHtml]="bounceInUp"></pre>
  <pre *ngIf="animation === 'bounceInRight'" [innerHtml]="bounceInRight"></pre>
  <pre *ngIf="animation === 'bounceInDown'" [innerHtml]="bounceInDown"></pre>
  <pre *ngIf="animation === 'bounceInLeft'" [innerHtml]="bounceInLeft"></pre> 

  <!-- Fade -->
  <pre *ngIf="animation === 'fadeIn'" [innerHtml]="fadeIn"></pre>
  <pre *ngIf="animation === 'fadeInUp'" [innerHtml]="fadeInUp"></pre>
  <pre *ngIf="animation === 'fadeInUpBig'" [innerHtml]="fadeInUpBig"></pre>
  <pre *ngIf="animation === 'fadeInRight'" [innerHtml]="fadeInRight"></pre>
  <pre *ngIf="animation === 'fadeInRightBig'" [innerHtml]="fadeInRightBig"></pre>
  <pre *ngIf="animation === 'fadeInDown'" [innerHtml]="fadeInDown"></pre>
  <pre *ngIf="animation === 'fadeInDownBig'" [innerHtml]="fadeInDownBig"></pre>
  <pre *ngIf="animation === 'fadeInLeft'" [innerHtml]="fadeInLeft"></pre>
  <pre *ngIf="animation === 'fadeInLeftBig'" [innerHtml]="fadeInLeftBig"></pre>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="transparent">
    <ion-row center id="select-animation-container">
      <!-- Animation Selection -->
      <ion-card color="light">
        <ion-card-content>
          <ion-item class="select-animation-item">
            <ion-select [(ngModel)]="animation" margin-right>
              <ion-label>Select Animation</ion-label>
              <span *ngFor="let animation of animations">
                <p>{{animation?.type}}</p>
                <ion-option *ngFor="let option of animation.options" [value]="option.name">{{option?.name}}</ion-option>
              </span>
            </ion-select>
            <button ion-button 
              item-end
              icon-only
              large
              round
              #animateButton
              color="secondary" 
              (click)="doAnimate(animation)">
                <ion-icon name="color-wand"></ion-icon>
            </button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>By <a href="https://github.com/sarahtully" target="_blank" ion-text color="light">Sarah Tully</a>. Based on the <a href="https://github.com/daneden/animate.css" ion-text color="light" target="_blank">animate.css</a> library.</ion-title>
    <ion-buttons end>
      <a ion-button clear href="https://github.com/sarahtully/ng-ionic-animate" target="_blank">
        View on Github
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
