.ios, .md {
  page-home {
    ion-select {
      max-width: 100%;
      width: 100%;
    }
    ion-footer {
      .toolbar-title-md,
      .toolbar-title-ios {
        font-size: 1.0rem;
      }
    }
    [icon-only] ion-icon {
      padding: 0 0.4em;
    }
    #select-animation-container {
      .select-animation-item {
        background-color: transparent;
      }
    }

    pre {
      user-select: initial;
      overflow: scroll;
      &::selection {
        background-color: map-get($colors, primary);
      }
    }
    
    h1 {
      padding-top: 50px;
      padding-bottom: 30px;
      font-size: 5rem;
      @media (max-width: 767px) {
        font-size: 3.5rem;
      }
      @media (max-height: 375px) {
        padding-top: 14px;
      }
      @media (max-height: 320px) {
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 11px;
        font-size: 2.8rem;
      }
    }

    pre, code {
      margin: 0;
      padding: 0 15px 15px;
      border: 1px solid #ddd;
      border-radius: 10px;
    }

    h2 {
      font-family: 'Pacifico', cursive;
      text-shadow: 0px 2px 1px rgba(0,0,0,0.2);
    }

    h3 {
      width: 100%;
      font-weight: 300;
      padding-top: 1%;
      @media (max-height: 375px) {
        padding-top: 14px;
      }
      @media (max-height: 320px) {
        font-size: 1.8rem;
        padding-top: 7px;
      }
    }
  }
}

.embed-nav .logo-wrap a, .embed-nav ul li.results a {
  display: none !important;
}
